@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font: 14px 'Varela Round', Helvetica, sans-serif;
  margin: 20px;
}

button {
  font: 14px 'Varela Round', Helvetica, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.square {
  background: #fff;
  border: 4px solid #999;
  border-bottom: 0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -3px;
  margin-top: -3px;
  border-right: 0;
  padding: 0;
  text-align: center;
  width: 90px;
  height: 90px;
}

.square:first-child {
  border-left: 0;
}

.board-row:first-child .square {
  border-top: 0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  display: inline-block;
}

.game-info {
  margin-left: 20px;
  margin-bottom: 15px;
}

.btn.disabled {
  cursor: not-allowed;
}

.attemp {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
  width: 265px;
}

.board {
  width: 256px;
}

.tb {
  position: relative;
}

.d1 {
  position: absolute;
  height: 100%;
  padding: 1px;
  background-color: #AAA;
  top: 0;
  left: 50%;
  transform: rotate(-45deg);
}

.d2 {
  position: absolute;
  height: 100%;
  padding: 1px;
  background-color: #AAA;
  top: 0;
  left: 50%;
  transform: rotate(45deg);
}

.c1 {
  position: absolute;
  height: 100%;
  padding: 1px;
  background-color: #AAA;
  top: 0;
  left: 17.4%;
}

.c2 {
  position: absolute;
  height: 100%;
  padding: 1px;
  background-color: #AAA;
  top: 0;
  left: 51.2%;
}

.c3 {
  position: absolute;
  height: 100%;
  padding: 1px;
  background-color: #AAA;
  top: 0;
  left: 84.5%;
}

.l1 {
    position: absolute;
    width: 100%;
    padding: 1px;
    background-color: #AAA;
    top: 15%;
    left: 0;
}

.l2 {
    position: absolute;
    width: 100%;
    padding: 1px;
    background-color: #AAA;
    top: 49%;
    left: 0;
}

.l3 {
    position: absolute;
    width: 100%;
    padding: 1px;
    background-color: #AAA;
    top: 82%;
    left: 0;
}
